<!-- itemList.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/frontScripts/itemListScript.js"></script>
    <title>Item List</title>
</head>

<body>

    <div class="topbar" id="topbar" name="topbar">
        <div class="leftpart" id="leftpart">
            <a href="/"> <img src="./images/craiyon_201945_abstract_neon_purple_blue_game_controller_concept_art_logo.png" height="50" width="50"> </a>
        </div>
        <div class="rightpart" id="rightpart">
            <% Object.entries(top).forEach(function([url, label]) { %>
                <div class="wrap" id="wrap">
                <a href="<%= url %>">
                    <div class="topElement" id="topElement"><%=label%></div>
                </a>
                </div>
            <% }); %>
        </div>
    </div>
    
    <h1>Item List</h1>

    <% if (items && items.length > 0) { %>
        <div class="itemList" id="itemList" name="itemList">

        <table border="1">
            <thead>
                <tr>
                    <th> </th>
                    <th>Product Name</th>
                    <th>Descritpion</th>
                    <th>Price</th>
                    <th>Add to Cart</th>
                    <th>More Details</th>
                </tr>
            </thead>
            <tbody>
                <% items.forEach(item => { %>
                    <tr>

                        <td>
                            <img src="./images/itemImages/<%= item.prodId %>.png" alt="<%= item.name %> Image" width="100" height="75">
                        </td>
                            <td><%= item.name %></td>
                        <td><%= item.shortDesc %></td>
                        <td><%= item.price %></td>
                        <td>
                            <button onclick="addToCart('<%= item.prodId %>')">Add To Crart</button>
                        </td>
                        <td>
                            <a href="/details/prodid=<%= item.prodId %>">More Details</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <% } else { %>
        <p>No items available.</p>
    <% } %>
</body>

</html>
